USE [RECSALUD]
GO
/****** Object:  Table [dbo].[AGENDACITAS]    Script Date: 2/11/2023 8:43:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENDACITAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fechacita] [date] NULL,
	[horacita] [int] NULL,
	[documentop] [int] NULL,
	[profesional] [int] NULL,
	[estado] [int] NULL,
	[observaciones] [nvarchar](500) NULL,
 CONSTRAINT [PK_AGENDACITAS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATOSPACIENTE]    Script Date: 2/11/2023 8:43:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOSPACIENTE](
	[documentop] [int] NOT NULL,
	[tipodoc] [int] NULL,
	[nombre] [nvarchar](150) NULL,
	[apellido] [nvarchar](150) NULL,
	[telefono1] [nvarchar](150) NULL,
	[telefono2] [nvarchar](150) NULL,
	[direccion] [nvarchar](150) NULL,
	[entidad] [nvarchar](150) NULL,
	[sesiones] [int] NULL,
	[correo] [nvarchar](250) NULL,
 CONSTRAINT [PK_DATOSPACIENTE] PRIMARY KEY CLUSTERED 
(
	[documentop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOSPACIENTECITA]    Script Date: 2/11/2023 8:43:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOSPACIENTECITA](
	[id] [int] NOT NULL,
	[estado] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
 CONSTRAINT [PK_ESTADOSPACIENTECITA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORASATENCION]    Script Date: 2/11/2023 8:43:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORASATENCION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hora] [nvarchar](50) NULL,
 CONSTRAINT [PK_horas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESIONES]    Script Date: 2/11/2023 8:43:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESIONES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[profesion] [nvarchar](50) NULL,
 CONSTRAINT [PK_PROFESIONES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 2/11/2023 8:43:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rol] [nvarchar](50) NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 2/11/2023 8:43:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_docu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 2/11/2023 8:43:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[documento] [int] NOT NULL,
	[nombres] [nvarchar](150) NULL,
	[apellidos] [nvarchar](150) NULL,
	[rol] [int] NULL,
	[profesion] [int] NULL,
	[simultnaneos] [int] NULL,
	[correo] [nvarchar](150) NULL,
	[contrasena] [nvarchar](150) NULL,
	[activo] [int] NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENDACITAS]  WITH CHECK ADD  CONSTRAINT [FK_AGENDACITAS_DATOSPACIENTE] FOREIGN KEY([documentop])
REFERENCES [dbo].[DATOSPACIENTE] ([documentop])
GO
ALTER TABLE [dbo].[AGENDACITAS] CHECK CONSTRAINT [FK_AGENDACITAS_DATOSPACIENTE]
GO
ALTER TABLE [dbo].[AGENDACITAS]  WITH CHECK ADD  CONSTRAINT [FK_AGENDACITAS_ESTADOSPACIENTECITA] FOREIGN KEY([estado])
REFERENCES [dbo].[ESTADOSPACIENTECITA] ([id])
GO
ALTER TABLE [dbo].[AGENDACITAS] CHECK CONSTRAINT [FK_AGENDACITAS_ESTADOSPACIENTECITA]
GO
ALTER TABLE [dbo].[AGENDACITAS]  WITH CHECK ADD  CONSTRAINT [FK_AGENDACITAS_HORASATENCION] FOREIGN KEY([horacita])
REFERENCES [dbo].[HORASATENCION] ([id])
GO
ALTER TABLE [dbo].[AGENDACITAS] CHECK CONSTRAINT [FK_AGENDACITAS_HORASATENCION]
GO
ALTER TABLE [dbo].[AGENDACITAS]  WITH CHECK ADD  CONSTRAINT [FK_AGENDACITAS_USUARIOS] FOREIGN KEY([profesional])
REFERENCES [dbo].[USUARIOS] ([documento])
GO
ALTER TABLE [dbo].[AGENDACITAS] CHECK CONSTRAINT [FK_AGENDACITAS_USUARIOS]
GO
ALTER TABLE [dbo].[DATOSPACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_DATOSPACIENTE_TIPO_DOCUMENTO] FOREIGN KEY([tipodoc])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([id])
GO
ALTER TABLE [dbo].[DATOSPACIENTE] CHECK CONSTRAINT [FK_DATOSPACIENTE_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_PROFESIONES] FOREIGN KEY([profesion])
REFERENCES [dbo].[PROFESIONES] ([id])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_PROFESIONES]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ROLES] FOREIGN KEY([rol])
REFERENCES [dbo].[ROLES] ([id])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ROLES]
GO
USE [master]
GO
